@import "../../app.scss";

.projects {
  min-height: calc(100vh - 100px);
  background-color: #BBDCE5;
  display: flex;
  align-items: center;

  .wrapper {
    max-width: 1366px;
    margin: auto;
    padding: 100px 80px;
    width: 100%;
  }

  .header {
    max-width: 600px;
    margin-bottom: 80px;

    h1 {
      font-size: 72px;
      color: #000;
    }

    h2 {
      font-size: 28px;
      color: black;
      letter-spacing: 6px;
      margin: 10px 0 20px;
    }

    p {
      font-size: 18px;
      color: #555;
      line-height: 1.7;
    }
  }

  .projectList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .projectButton {
    margin-top: 16px;
    margin-left: auto;
    align-self: flex-end;
  
    padding: 10px 18px;
    border: 2px solid #2b2b2b;
    border-radius: 8px;
  
    background: transparent;
    color: #2b2b2b;
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
  
    transition: all 0.2s ease;
  
    &:hover {
      background: #2b2b2b;
      color: white;
      transform: translateY(-2px);
    }
  }
  

  .projectCard {
    display: flex;              
    flex-direction: column;
    padding: 32px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease;
    background: #ECEEDF;
    border: 3px solid #2b2b2b;
    border-radius: 12px;

  box-shadow:
    inset 0 0 0 2px #ffffff,
    inset 0 0 0 4px #c9c4bc,
    4px 4px 0 #2b2b2b;

    &:hover {
      transform: translateY(-4px);
    }

    h3 {
      font-size: 24px;
      margin-bottom: 12px;
      color: #000;
    }

    p {
      font-size: 16px;
      color: #555;
      line-height: 1.6;
      margin-bottom: 16px;
    }

    span {
      font-size: 14px;
      color: #777;
    }
  }
}

/* Responsive */
@media (max-width: 900px) {
  .projects {
    .projectList {
      grid-template-columns: 1fr;
    }

    .header h1 {
      font-size: 56px;
    }
  }
}
