@import "../../app.scss";

.lingxi {
  height: calc(100vh - 100px);
  overflow: hidden;
  background-color: beige;
  position: relative;

  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;
    display: flex; /* text + image side by side */
    align-items: center;
    justify-content: space-between;
  }

  .textContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

    h1 {
      font-size: 88px;
      color: black;
    }

    h2 {
      font-size: 30px;
      color: rebeccapurple;
      letter-spacing: 10px;
    }

    h3 {
      font-size: 20px;
      font-weight: 300;
      line-height: 1.6;
      color: #555;
      max-width: 600px;
    }
  }

  .imageContainer {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 12px;
      }
      
  }
}
