@import "../../app.scss";

.navbar {
  height: 100px;

  .wrapper {
    max-width:100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background-color:  #BBDCE5;

    span {
      font-weight: bold;
    }

    .social {
        display: flex;
        justify-content: flex-end; // push icons to the right
        gap: 20px;
        margin-right: 40px; // add breathing room from the edge

      img {
        width: 50px;
        height: 50px;
      }
    }
  }
}